body {
  margin: 0 auto;
  min-height: 800px;
  font-family: sans-serif;
}

/*HOME*/

#home {
  background: #F7F8FA;
  position: relative;
  font-size: 14px;
}

.list {
    width: 100%;
    max-width: 1040px;
    margin: 1% auto;
}


.detail_photo{
  margin: 0 auto;
}


.logo_img{
  width: 20px;
  height: 20px;
  position: absolute;
}

.logo_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15em;
  color: #000;
  margin-left: 28px;
}


p {
  margin: 5% auto;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.topnav {
    background-color: #F7F8FA;
    border-bottom: solid 2px #e8ebf0;
    overflow: hidden;
}
.nav_left{
    width: 1040px;
    margin: 0 auto;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.9em;
}

.topnav a:hover {
    background-color: #f0f3f7;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

.title {
  color: #000000;
  padding: 30px 0 20px 0;
}

.location{
  font-size: 1.3em;
  color: #000000;
  text-align: center;
  margin-bottom: 6px;
  padding: 0;
}

h3 {
  font-size:1.15em;
  color: #000000;
}

.date {
  font-size: 1em;
  color: #9E9FB7;
  text-align: center;
  margin: 0;
  padding: 0;
}


.card {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30.5%;
    height: auto;
    background: #ffffff;
    margin: 1%;
    display: inline-block;
    border-radius: 3px;
    min-height: 230px;
    vertical-align: top;
}

.card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.container {
    padding-bottom: 1em;
    margin: 0 auto;
}

.album img {
  border-radius: 3px 3px 0 0;
}

#photo_list {
  width: 48%;
  height: auto;
  display: inline-block;
  border-radius: 3px;
  margin: 0.5%;
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s;
  min-height: 320px;
  vertical-align: top;

}

#photo_list img {
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: auto;
  width:100%;
}

#photo_list img:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.link_wrap {
    z-index: 100;
    text-decoration: none;
}

.album{
  margin: 0;
  padding-bottom: 20px;
}

.album_number {
  font-size: 1em;
  color: #9E9FB7;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.year {
  font-size: 1.8em;
  margin-left: 10px;
  margin: 40px 0 20px 10px;
  box-shadow: inset 0 -3px #D0021B;
  padding-bottom: 6px;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 2em;
}

.metadata {
  color: #9E9FB7;
  font-size: 0.9em;
  padding-top: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.description {
  color: #333333;
  font-size: 1em;
  line-height: 2em;
}

/*DETAIL*/

.row {
    padding: 0 2%;
    margin: 0 auto;
    max-width: 1000px;
}


.detail_title {
  padding-top: 30px;
}

.note {
  top: 20px; right: 0; bottom: 40px; left: 60px;
  background: linear-gradient(transparent, transparent 2.2em, #DEE2EF 2.2em);
  background-size: 2.4em 2.4em;
  padding-top: 10px;
}


.note p {
  color: #333333;
  font-size: 1em;
  line-height: 2.4em;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
  z-index: 1;
  margin-top: 8px;
}

#footer {
  width: 100%
  margin: 0 auto;
  padding: 80px 0 50px 0;
  color: #c7c8d2;
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}



/* modal */


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  max-width: 1000px;
}

/* The Close Button */
.close {
  color: #DEE2EF;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 2.2em;
  font-weight: normal;
}

.close:hover,
.close:focus {
  color: #9E9FB7;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.mySlides img {
  border-radius: 3px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 1.6em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

/*.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

.caption-container {
  color: white;
  border-radius: 5px;
  position: absolute;
  margin: 0 auto;
  width: 100%;
}

#caption {
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  text-align: center;
  line-height: 1.5em;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*Page Fade-in*/
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .card {
        width: 90%;
        margin: 2% 5%;
        }
    .album {
        margin:0 auto;
    }
    .title {
        margin: 0 5%;
    }
    .year {
        margin: 0;
    } 
    #photo_list{
        width: 90%;
        margin: 2%;
        min-height: 360px;
    }
    .detail_title {
        padding-bottom: 30px;
    }
    .modal-content {
      position: relative;
      margin: 0 auto;
      padding: 0;
      width: 80%;
      max-width: 400px;
    }
    .prev,
    .next {
        top: 60%;
    } 
    
}