.h1 {
  font-size: 24px;
  color: #000000;
}

.h2 {
  font-sie: 18px;
  color: #000000;
}

.h3 {
  font-size:16px;
  color: #9E9FB7;
}

.h4 {
  font-size:14px;
  color: #9E9FB7;
}

.cover-img {
  width:320px; height:220px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}
